@model IEnumerable<Training4.Models.Training>

@{
    ViewBag.Title = "Index";
}

<h2></h2>

<!-- <a class="btn btn-primary btn-lg" href="/Trainings/Create">
   New Training Review
</a> -->
<p>
    @Html.ActionLink("Write a Review", "Create",null, new { @class = "btn btn-primary btn-lg" })

    @using (Html.BeginForm())
    {
        <p>
        Rating: @Html.DropDownList("trainingRating","All")
        Topic/Course: @Html.TextBox("SearchString", null, new {  })
        <input type="submit" value="Search" class="btn"/>
        </p>
    }
<table class="sortable table table-striped  table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Stars)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Topic)
        </th>
        <th>
            Course Title
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Format)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th class="sorttable_nosort"></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Stars)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Topic)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Course)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Format)
        </td>
        <td>
            @{string date = "";
            }
            @{if (item.Date != null)
                {
                    DateTime d = (DateTime)item.Date;
                    date = d.ToShortDateString();
                }
            }
            @Html.DisplayFor(modelItem => date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.ID }) 
            
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
