<!DOCTYPE HTML>
<!--@*
    Striped by HTML5 UP
    html5up.net | @n33co
    Free for personal and commercial use under the CCA 3.0 license (html5up.net/license) *@
-->
<html>
<head>
    @model Training4.Models.Training
    @{
        Layout = null;
        System.Globalization.DateTimeFormatInfo mfi = new System.Globalization.DateTimeFormatInfo();
        @Styles.Render("~/Content/css");
        @Scripts.Render("~/bundles/modernizr");
        @Scripts.Render("~/bundles/jquery");
        @Scripts.Render("~/bundles/bootstrap");
        @Scripts.Render("~/bundles/jqueryval");
        @Scripts.Render("~/bundles/jqueryui");
        @Styles.Render("~/Content/themes/base/css");
    }
    <title>Training Reviews</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="~/Content/striped/assets/css/main.css" />
    <link rel="shortcut icon" href="~/Content/Identity/images/favicon.ico" />
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
    <style>
        .required:after {
            content: "*";
            font-weight: bold;
            color: red;
        }
    </style>
</head>
<body>
    <script>
            var $j = jQuery.noConflict();
            $j(function () {
                $j("#datepicker").datepicker();
            });
    </script>

    <!-- Content -->
    <div id="content">
        <div class="inner">

            <!-- Post -->
            <article class="box post post-excerpt">
                <header>
                    <!--
                        Note: Titles and subtitles will wrap automatically when necessary, so don't worry
                        if they get too long. You can also remove the <p> entirely if you don't
                        need a subtitle.
                    -->
                    <h2>Tell us about your training!</h2>
                    <p></p>
                </header>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.Date)
        @Html.HiddenFor(model => model.Topic)
        @Html.HiddenFor(model => model.Course)
        @Html.HiddenFor(model => model.Format)
        @Html.HiddenFor(model => model.Time)
        @Html.HiddenFor(model => model.Url)
        @Html.HiddenFor(model => model.Price)
        @Html.HiddenFor(model => model.CEU)
        @Html.HiddenFor(model => model.Contractor)
        @Html.HiddenFor(model => model.Location)
        @Html.HiddenFor(model => model.Recommend)
        @Html.HiddenFor(model => model.Instructor)

        <div class="form-group">
            @Html.LabelFor(model => model.Office, htmlAttributes: new { @class = " col-md-10" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Office, new SelectList(new List<Object>{"",
                "HP", "HSP", "DALTCP","SDP","OPPS","IO"
                }), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Office, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Role, htmlAttributes: new { @class = " col-md-10" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Role, new SelectList(new List<Object>{
                "Policy Analyst", "Staff Assistant", "Manager", "Budget Analyst", "Human Resources", "Other"
                }), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Role, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Stars, htmlAttributes: new { @class = "col-md-10 required" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Stars, new SelectList(new List<Object>{
                "5", "4", "3","2","1",
                }), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Stars, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @{string x = "Written Review (e.g., How did the training help you do your job better? What did you like about the training? What did you find the least informative or needed improvement (if anything))?";}
            @Html.LabelFor(model => model.WReview,x, htmlAttributes: new { @class = " col-md-10" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.WReview, 10, 50, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.WReview, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}
                <!--<div class="info">
                    <!--
                        Note: The date should be formatted exactly as it's shown below. In particular, the
                        "least significant" characters of the month should be encapsulated in a <span>
                        element to denote what gets dropped in 1200px mode (eg. the "uary" in "January").
                        Oh, and if you don't need a date for a particular page or post you can simply delete
                        the entire "date" element.


                    <span class="date"><span class="month">Apr<span>il</span></span> <span class="day">29</span><span class="year">, 2016</span></span>
                    <!--
                        Note: You can change the number of list items in "stats" to whatever you want.

                    <ul class="stats">
                        <li style="margin-top:0px; margin-bottom:0px" class="icon fa-star"></li>
                    </ul>
                </div>-->
               

                <!--<a href="#" class="image featured"><img src="~/Content/striped/images/pic01.jpg" alt="" /></a>-->
                <p>
                </p>
            </article>


            <!-- Pagination
                <div class="pagination">
                    <!--<a href="#" class="button previous">Previous Page</a>
                    <div class="pages">
                        <a href="#" class="active">1</a>
                        <a href="#">2</a>
                        <a href="#">3</a>
                        <a href="#">4</a>
                        <span>&hellip;</span>
                        <a href="#">20</a>
                    </div>
                    <a href="#" class="button next">Next Page</a>
                </div>-->

        </div>
    </div>

    <!-- Sidebar -->
    <div id="sidebar">

        <!-- Logo -->
        <h1 id="logo"><a href="~/Trainings/Index">Training Reviews</a></h1>

        <!-- Nav -->
        <nav id="nav">
            <ul>
                <li class="current"><a href="#">Write a Review</a></li>
                <li><a href="~/Trainings/Index">Browse Reviews</a></li>
                <!-- <li><a href="~/Trainings/Index2">Browse Reviews (Condensed)</a></li> -->
            </ul>
        </nav>

        <!-- Text -->
        <section class="box text-style1">
            <div class="inner">
                <p>
                    The Date, Topic, Course Name, Link to Enroll and Location fields must be input before you can submit your review.
                </p>
            </div>
        </section>

        @*  <!-- Search
            <section class="box">
                <h2>Search</h2>
                @using (Html.BeginForm())
                {
                    <p>
                        Rating: @Html.DropDownList("trainingRating", "All")
                        Topic or Course: @Html.TextBox("SearchString", (string)ViewBag.search)<br />
                        <input type="submit" value="Search" class="btn" />
                    </p>
                }
            </section>

            <!--Sorting
            <section class="box">
                <h2>Sort By:</h2>
                <p>
                    @Html.ActionLink("Rating", "Index", new { sortOrder = ViewBag.StarSort, searchString = ViewBag.search, trainingRating = ViewBag.rating }, htmlAttributes: new { @class = "button" }) <br /><br />
                    @Html.ActionLink("Date", "Index", new { sortOrder = ViewBag.DateSort, searchString = ViewBag.search, trainingRating = ViewBag.rating }, htmlAttributes: new { @class = "button" }) <br /><br />
                    @Html.ActionLink("Topic", "Index", new { sortOrder = ViewBag.TopicSort, searchString = ViewBag.search, trainingRating = ViewBag.rating }, htmlAttributes: new { @class = "button" })
                </p>
            </section>--> *@

        <!-- Recent Posts -git
        <section class="box recent-posts">
            <header>
                <h2>Recent Posts</h2>
            </header>
            <ul>
                <li><a href="#">Lorem ipsum dolor</a></li>
                <li><a href="#">Feugiat nisl aliquam</a></li>
                <li><a href="#">Sed dolore magna</a></li>
                <li><a href="#">Malesuada commodo</a></li>
                <li><a href="#">Ipsum metus nullam</a></li>
            </ul>
        </section> -->
        <!-- Recent Comments
        <section class="box recent-comments">
            <header>
                <h2>Recent Comments</h2>
            </header>
            <ul>
                <li>case on <a href="#">Lorem ipsum dolor</a></li>
                <li>molly on <a href="#">Sed dolore magna</a></li>
                <li>case on <a href="#">Sed dolore magna</a></li>
            </ul>
        </section> -->
        <!-- Calendar -->
        <section class="box calendar">
            <div class="inner">
                <table>
                    @{ string m = mfi.GetMonthName(DateTime.Today.Month);
                        string y = DateTime.Today.Year.ToString();
                        string z = m + " " + y;
                        int daysinmonth = DateTime.DaysInMonth(DateTime.Today.Year, DateTime.Today.Month);
                        DateTime first = new DateTime(DateTime.Today.Year, DateTime.Today.Month, 1);
                        DateTime last = new DateTime(DateTime.Today.Year, DateTime.Today.Month, daysinmonth);
                        int lastday = (int)(last.DayOfWeek + 6) % 7;
                        int firstday = (int)(first.DayOfWeek + 6) % 7;
                        int weeks = 5;
                        if (((daysinmonth == 30 || daysinmonth == 31) && firstday == 6) || (daysinmonth == 31 && firstday == 5))
                        {
                            weeks = 6;
                        }
                        int skipfirst = firstday;
                        int skiplast = 6 - lastday;
                        int daycount = 1;
                        int k = 0;
                        int today = DateTime.Today.Day;
                    }
                    <caption>@z</caption>
                    <thead>
                        <tr>
                            <th scope="col" title="Monday">M</th>
                            <th scope="col" title="Tuesday">Tu</th>
                            <th scope="col" title="Wednesday">W</th>
                            <th scope="col" title="Thursday">T</th>
                            <th scope="col" title="Friday">F</th>
                            <th scope="col" title="Saturday">S</th>
                            <th scope="col" title="Sunday">Su</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            @while (skipfirst > 0)
                            {
                                <td><span>&nbsp;</span></td>
                                skipfirst--;
                            }
                            @while (firstday < 7)
                            {
                                if (today == daycount)
                                {
                                    <td class="today"><a>@daycount</a></td>
                                    daycount++;
                                    firstday++;
                                    continue;
                                }
                                <td><span>@daycount</span></td>
                                daycount++;
                                firstday++;
                            }
                        </tr>
                        <tr>
                            @while (k++ < 7)
                            {
                                if (today == daycount)
                                {
                                    <td class="today"><a>@daycount</a></td>
                                    daycount++;
                                    continue;
                                }
                                <td><span>@daycount</span></td>
                                daycount++;
                            }
                        </tr>
                        <tr>
                            @{k = 0; }
                            @while (k++ < 7)
                            {
                                if (today == daycount)
                                {
                                    <td class="today"><a>@daycount</a></td>
                                    daycount++;
                                    continue;
                                }
                                <td><span>@daycount</span></td>
                                daycount++;
                            }
                        </tr>
                        <tr>
                            @{k = 0; }
                            @while (k++ < 7)
                            {
                                if (today == daycount)
                                {
                                    <td class="today"><a>@daycount</a></td>
                                    daycount++;
                                    continue;
                                }
                                <td><span>@daycount</span></td>
                                daycount++;
                            }
                        </tr>
                        <tr>
                            @if (weeks == 6)
                            {
                                k = 0;
                                while (k++ < 7)
                                {
                                    if (today == daycount)
                                    {
                                        <td class="today"><a>@daycount</a></td>
                                        daycount++;
                                        continue;
                                    }
                                    <td><span>@daycount</span></td>
                                    daycount++;
                                }
                            }
                            else
                            {
                                while (daycount <= daysinmonth)
                                {
                                    if (today == daycount)
                                    {
                                        <td class="today"><a>@daycount</a></td>
                                        daycount++;
                                        continue;
                                    }
                                    <td><span>@daycount</span></td>
                                    daycount++;
                                }
                                while (skiplast > 0)
                                {
                                    <td><span>&nbsp;</span></td>
                                    skiplast--;
                                }
                            }

                        </tr>
                        @if (weeks == 6)
                        {
                            <tr>
                                @while (daycount <= daysinmonth)
                                {
                                    if (today == daycount)
                                    {
                                        <td class="today"><a>@daycount</a></td>
                                        daycount++;
                                        continue;
                                    }
                                    <td><span>@daycount</span></td>
                                    daycount++;
                                }
                                @while (skiplast > 0)
                                {
                                    <td><span>&nbsp;</span></td>
                                    skiplast--;
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </section>



        <!-- Copyright -->
        <ul id="copyright">
            <li><a href="http://158.74.49.6/aspeintranet">ASPE Intranet</a></li><!--<li>Design: <a href="http://html5up.net">HTML5 UP</a></li>-->
        </ul>


    </div>

    <!-- Scripts -->
    <script src="~/Content/striped/assets/js/jquery.min.js"></script>
    <script src="~/Content/striped/assets/js/skel.min.js"></script>
    <script src="~/Content/striped/assets/js/util.js"></script>
    <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="~/Content/striped/assets/js/main.js"></script>
</body>
</html>